@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}